.company-numbers{
    margin-top: -10%;
}

.company-container {
    color: green;
    font-size: 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.company-content h3{
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 24px;
    color: #373a3c;
    font-weight: 300;
    font-family: "Open Sans";
    margin-bottom: 0;
}



.company-content h4 {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #373a3c;
    font-weight: 600;
    font-family: "Open Sans";}

@media (max-width: 768px) {
    .company-container {
       align-items: center;
       flex-direction: column;
       text-align: center;
    }

    .company-content {
        margin-top: -10px;
    }
    
    .company-container svg {
        font-size: 4em;
    }

}
