.news-cards-container{
    display: flex;
    
}
.latest-news-container{
    max-width: 1440px;
    width: 100%;
    height: 350px;
    background-color: #ebedef;
   
}
h2{
    text-align: center;
}

@media (max-width: 768px) {
    .news-cards-container {
       align-items: center;
       flex-direction: column;
    }
}