.subscribe-news-container{
    margin: 2vw;
    
}
.subscribe-news-content{
    width: 360px;
    height: 120px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #373a3c;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}


.subscribe-bar{
    display: inline;
    text-align: center;
    width: 418px;
height: 50px;
border-radius: 5px;
background-color: #ffffff;
border: 1px solid #cccccc;

}
input{
    width: 418px;
height: 50px;
border-radius: 5px;
background-color: #ffffff;
border: 1px solid #cccccc;
}